@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*font-family: 'Poppins', sans-serif;*/

/*Estudando*/

#estudando {
    background: white;
    height: 400px;
    margin-top: 200px;
}

#tituloEstudando {
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../assets/titulos/ceuEstrelado.jpg);
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    font-size: 100px;
    font-family: Inter, sans-serif;
    font-weight: bolder;
    text-align: center;
}

#caixasEstudando {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: -110px;
}

.omni-caixa4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: #B1B0D9 5px 5px 5px;
    background: linear-gradient(20deg, #030140 0%, #00010D 120%);
    color: white;
    /* margin-right: 30px; */
}

.omni-caixa4:hover {
    background: #B1B0D9;
    transition: ease-in-out 0.3s;
}

/* ------------------------------------------------------------ */

@media (max-width:650px) {
    #estudando {
        height: 250px;
    }

    #tituloEstudando {
        font-size: 50px;
    }

    .omni-caixa4 {
        width: 100px;
        height: 50px;
        margin-left: 10px;
        margin-top: 80px;
        margin-right: 10px;
    }
}