#experiencias{
    height: 500px;
}

#tituloExperiencias {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../assets/titulos/ceuEstrelado.jpg);
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    font-size: 100px;
    font-family: Inter, sans-serif;
    font-weight: bolder;
    text-align: center;
}

#caixasExperiencias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.omni-caixa6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    height: 250px;
    margin-top: -80px;
    margin-right: 50px;

    border-radius: 16px;
    box-shadow: #B1B0D9 5px 5px 5px;
    background: linear-gradient(-30deg, #030140 0%, #00010D 60%);
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 800;
}

.omni-caixa6:hover{
    background: #B1B0D9;
    transition: ease-out 1s;
    cursor: pointer;
}

/* ------------------------------------- */

@media (max-width:650px){

    #experiencias {
        height: 260px;
    }

    #tituloExperiencias {
        font-size: 50px;
        margin-top: 50px;
    }

    .omni-caixa6 {
        width: 120px;
        height: 100px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: -40px;
        padding: 10px;
    }
}