@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*font-family: 'Poppins', sans-serif;*/

#habilidades{
    width: 100%;
    height: 1150px;
    background: linear-gradient(-30deg, #030140 0%, #00010D 60%);
}

#habilidadesAutonomas{
    width: 100%;
    height: 900px;
    background: linear-gradient(-30deg, #030140 0%, #00010D 60%);
}

#tituloHabilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;

    color: white;
    font-size: 100px;
    font-family: Inter, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.ajustador-3 {
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.circulo {
    position: absolute;
}

@keyframes html {
    0% {
        bottom: 0;
        left: 250px;
    }
    100% {
        bottom: 0;
        left: 50px;
    }
}

@keyframes css {
    0% {
        bottom: 0;
        left: 50px;
    }
    100% {
        bottom: 0;
        left: 250px;
    }
}

/*-----------------------------------------*/

.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: -200px;
}

#observacao-habilidades{
    position: absolute;
    letter-spacing: 2px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    margin-top: -370px;

    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#habilidadesProgramacao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: -60px;
}

/*-----------------------------------------*/

#gridboxHabilidades {
    display: grid;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    z-index: 2;
    gap: 6%;
    margin-top: 200px;
    grid-template: "caixa1_2 caixa2_2 " 150px 
                   "caixa3_2 caixa4_2"  150px
                   "caixa5_2 caixa6_2"  150px  / 1fr 1fr;
}

.omni-caixa3 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 150px;
    height: 150px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #B1B0D9;
    background-color: #ffffff;
}

/*---------------------------------------------------------*/
 
#caixa1_2 /*HTML e CSS*/{
    position: absolute;
    margin-left: -560px;
    margin-top: -250px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
}

#caixa1_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa2_2 /*CSS*/{
    position: absolute;
    margin-left: -170px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-top: -250px;
}

#caixa2_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa3_2 /*Ícone Edição de Vídeo*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: -250px;
}

#caixa3_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa4_2 /*Ícone Canva*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: -560px;
    margin-top: 60px;
}

#caixa4_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa5_2 /*Ícone MySQL*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: -170px;
    margin-top: 60px;
}

#caixa5_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa6_2 /*Ícone C#*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 60px;
}

#caixa6_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*---------------------------------------*/

#caixa7_2 /*Ícone JS*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: -560px;
    margin-top: 375px;
}

#caixa7_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa8_2 /*Ícone PHP*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: -170px;
    margin-top: 375px;
}

#caixa8_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa9_2 /*Ícone Em Breve*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 375px;
}

#caixa9_2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*---------------------------------------*/

@media (max-width:650px)

/*Para Celular*/
{
    #habilidades{
        height: 950px;
    }

    #habilidadesAutonomas{
        height: 700px;
    }

    #tituloHabilidades{
        display: flex;
        font-size: 50px;
    }

    #caixa1_2{
        width: 100px;
        height: 100px;
        margin-left: -120px;
    }

    #iconeHtml{
        width: 60px;
    }

    #caixa2_2{
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    #iconeCss{
        width: 76px;
    }

    #caixa3_2{
        width: 100px;
        height: 100px;
        margin-left: -120px;
        margin-top: 50px;
    }

    #iconeEdicao{
        width: 60px;
    }

    #caixa4_2{
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: -100px;
    }

    #iconeCanva{
        width: 80px;
    }

    #caixa5_2{
        width: 100px;
        height: 100px;
        margin-left: -120px;
        margin-top: -100px;
    }

    #iconeMysql{
        width: 60px;
    }

    #caixa6_2{
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 50px;
    }

    #caixa7_2{
        width: 100px;
        height: 100px;
        margin-left: -120px;
        margin-top: 200px;
    }

    #caixa8_2{
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 200px;
    }

    #caixa9_2{
        width: 100px;
        height: 100px;
        margin-left: -120px;
        margin-top: 350px;
    }

    #iconeCSharp{
        width: 70px;
    }

    #observacao-habilidades{
        font-size: 7px;
        margin-top: -420px;
        padding-left: 80px;
        padding-right: 80px;
    }

    #habilidadesProgramacao{
        font-size: 15px;
        margin-top: -50px;
    }
}