@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* criando páginas de logos */
#minhas-logos {
    background-color: white;
    height: 400px;
}

/* Esste é o título da aba minhas imagens */
.minhas-logos2{
    margin-top: 130px; 
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../assets/titulos/ceuEstrelado.jpg);
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    font-size: 100px;
    font-family: Inter, sans-serif;
    font-weight: bolder;
}

#botoesDasImagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    text-align: center;
}

#btnDriveImagens{
    background: linear-gradient(20deg, #030140 0%, #00010D 120%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#btnDriveImagens:hover{
    cursor: pointer;
    background: #B1B0D9;
    transition: ease-in-out 0.5s;
}

#legendaDriveLogos{
    position: absolute;
    padding-left: 130px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
}

#legendaDriveLogos:hover{
    cursor: pointer;
}

/*--------------------------------------------*/

@media (max-width:650px){
    #minhas-logos {
        height: 210px;
    }

    .minhas-logos2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        margin-top: 70px;
    }


    #btnDriveImagens{
        width: 70px;
        height: 70px;
        margin-top: -250px;
    }
}