@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://rsms.me/inter/inter.css');
/*font-family: 'Inter', sans-serif;*/

#rodape{
    width: 100%;
    height: 340px;
    background: linear-gradient(-30deg, #030140 0%, #00010D 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Ícones do Site*/

.ulRodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.iconesRodape2{
    padding: 10px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.iconesRodape2:hover{
    background: #B1B0D9;
    cursor: pointer;
    transition: ease-in-out 1s;
    border-radius: 80px;
    padding: 10px;
}

#rodapeEsquerda{
    font-size: 14px;
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#rodapeDireita{
    font-size: 14px;
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    margin-top: -50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*--------------------------------------------*/

@media (max-width:650px) {

    #iconeDeContatos{
        margin-right: 20px;
    }

    #fraseBiblica{
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #rodapeDireita{
        margin-bottom: 20px;
    }

    #rodapeEsquerda:hover{
        cursor: default;
    }
}