@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://rsms.me/inter/inter.css');
/*font-family: 'Inter', sans-serif;*/

#habilidades{
    width: 100%;
    height: 870px;
    background-color: #ffa3c7;
}

#titulo{
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}

.ajustador-3 {
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.circulo {
    position: absolute;
}

@keyframes html {
    0% {
        bottom: 0;
        left: 250px;
    }
    100% {
        bottom: 0;
        left: 50px;
    }
}

@keyframes css {
    0% {
        bottom: 0;
        left: 50px;
    }
    100% {
        bottom: 0;
        left: 250px;
    }
}

.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: -200px;
}

#gridboxHabilidades {
    display: grid;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    z-index: 2;
    gap: 6%;
    margin-top: 200px;
    grid-template: "caixa1_2 caixa2_2 " 150px 
                   "caixa3_2 caixa4_2"  150px
                   "caixa5_2 caixa6_2"  150px  / 1fr 1fr;
}

.omni-caixa3 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 150px;
    height: 150px;
    border-radius: 16px;
    box-shadow: 7px 7px 7px #fdeff4;
    background-color: #0f0f0f;
    color: white;
}

@media (max-width:1200px) {
    .ajustador-3 {
        justify-content: center;
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    .ajustador-3 p {
        font-size: 15px;
    }
    .habilidades p {
        text-indent: 0;
    }
}

@media(max-width:950px){

    .ajustador-3 {
        max-width: 350px;
        padding: 70px 30px;
    }
}

/*---------------------------------------------------------*/
 
#caixa1_2 /*HTML e CSS*/{
    position: absolute;
    margin-left: -560px;
    margin-top: -250px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
}

#caixa1_2:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa2_2 /*CSS*/{
    position: absolute;
    margin-left: -170px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-top: -250px;
}

#caixa2_2:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa3_2 /*Ícone Edição de Vídeo*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: -250px;
}

#caixa3_2:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa4_2 /*Ícone Canva*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: -560px;
    margin-top: 60px;
}

#caixa4_2:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa5_2 /*Ícone MySQL*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: -170px;
    margin-top: 60px;
}

#caixa5_2:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*------------------------------------------------*/

#caixa6_2 /*Ícone C#*/{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 60px;
}

#caixa6_2:hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/*---------------------------------------*/

#observacao-habilidades{
    position: absolute;
    letter-spacing: 2px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-top: 320px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left: -300px;
}

/*-----------------------------------------*/

@media (max-width:1200px) /*Para Tablet*/{

    #habilidades{
        height: 700px;
    }

    #titulo{
        display: flex;
        margin-left: 10px;
        width: 450px;
        margin-top: 80px;
    }

    #caixa1_2{
        width: 200px;
        height: 150px;
        margin-left: -400px;
    }

    #iconeHtml{
        width: 100px;
    }

    #caixa2_2{
        width: 200px;
        height: 150px;
        margin-left: -90px;
    }

    #iconeCss{
        width: 120px;
    }

    #caixa3_2{
        width: 200px;
        height: 150px;
        margin-left: 200px;
    }

    #iconeEdicao{
        width: 100px;
    }

    #caixa4_2{
        width: 200px;
        height: 150px;
        margin-left: -400px;
        margin-top: -20px;
    }

    #iconeCanva{
        width: 100px;
    }

    #caixa5_2{
        width: 200px;
        height: 150px;
        margin-left: -90px;
        margin-top: -20px;
    }

    #iconeMysql{
        width: 80px;
    }

    #caixa6_2{
        width: 200px;
        height: 150px;
        margin-left: 200px;
        margin-top: -20px;
    }

    #iconeCSharp{
        width: 100px;
    }

    #observacao-habilidades{
        margin-top: 200px;
        margin-left: -270px;
    }
}

@media (max-width:650px)

/*Para Celular*/
{
    #habilidades{
        height: 900px;
    }

    #titulo{
        display: flex;
        margin-left: 10px;
        width: 450px;
        margin-top: 150px;
        margin-bottom: 40px;
    }

    #caixa1_2{
        width: 150px;
        height: 150px;
        margin-left: -160px;
    }

    #iconeHtml{
        width: 90px;
    }

    #caixa2_2{
        width: 150px;
        height: 150px;
        margin-left: 20px;
    }

    #iconeCss{
        width: 110px;
    }

    #caixa3_2{
        width: 150px;
        height: 150px;
        margin-left: -160px;
        margin-top: 190px;
    }

    #iconeEdicao{
        width: 90px;
    }

    #caixa4_2{
        width: 150px;
        height: 150px;
        margin-left: -160px;
        margin-top: -30px;
    }

    #iconeCanva{
        width: 100px;
    }

    #caixa5_2{
        width: 150px;
        height: 150px;
        margin-left: 20px;
        margin-top: -30px;
    }

    #iconeMysql{
        width: 80px;
    }

    #caixa6_2{
        width: 150px;
        height: 150px;
        margin-left: 20px;
        margin-top: 190px;
    }

    #iconeCSharp{
        width: 100px;
    }

    #observacao-habilidades{
        margin-top: 400px;
        margin-left: -230px;
        font-size: 12px;
    }
}